<!DOCTYPE html>
<html>
  <head>
    <title>CounterCompass</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

<div class="Navbar">
   <div class="Navbar__Link Navbar__Link-brand">
      Counter Compass
    </div>
    <div class="Navbar__Link Navbar__Link-toggle">
      <i class="fas fa-bars"></i>
    </div>
  <nav class="Navbar__Items">
    <div class="Navbar__Link">
      
      <a href="/static_pages/info">Info</a>
    </div>
    <div class="Navbar__Link">
      <a href="/static_pages/home">Home</a>
    </div>
   
  </nav>
</div>
  <br>
    <%= yield %>
  </body>
</html>
